<form #form='ngForm' (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" #emailCtrl='ngModel' ngModel required email/>
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" #passwordCtrl='ngModel' ngModel required minlength="6"/>
    </div>

    <button class="button">Login</button>
  </div>

  @if (emailCtrl.touched && emailCtrl.dirty && emailCtrl.invalid) {
    <p class="control-error">Lütfen geçerli bir eposta adresi giriniz.</p>
  }
  @if (passwordCtrl.touched && passwordCtrl.dirty && passwordCtrl.invalid) {
    <p class="control-error">Şifre en az 6 karakterden oluşmalıdır.</p>
  }
</form>
